* {
  margin: 0;
  padding: 0;
  outline: none;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .question {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .question-title {
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
}

main .question-respBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 500px;
  background: grey;
  border-radius: 10px;
  padding: 10px 0;
}

main .question-respBox-item {
  padding: 5px 20px;
  border-radius: 10px;
  min-width: 200px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: black;
  width: 100%;
  padding: 5px 0;
}

.footer-dev {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: monospace;
  font-size: 20px;
}

.footer-dev-img {
  width: 60px;
  margin: 0 10px;
  border-radius: 20px;
}

.footer-dev a {
  margin: 0 5px;
  letter-spacing: 3px;
  -webkit-animation: rainbow 5s linear infinite;
          animation: rainbow 5s linear infinite;
}

.footerMob {
  display: none;
}

@media screen and (max-width: 780px) {
  .footer {
    display: none;
  }
  .footerMob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: black;
    margin-top: 75px;
  }
  .footerMob-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 10px;
  }
  .footerMob-box-dev {
    color: white;
    font-size: 1.6rem;
  }
  .footerMob-box-img {
    width: 55px;
    border-radius: 15px;
    margin: 0 10px;
  }
  .footerMob-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 10px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footerMob-link-dev {
    color: white;
    font-size: 1.2rem;
  }
  .footerMob-link-rainbow {
    -webkit-animation: rainbow 5s linear infinite;
            animation: rainbow 5s linear infinite;
    font-size: 20px;
    font-weight: 800;
    margin: 0 10px;
  }
  .footerMob-link-text {
    color: white;
    font-size: 1rem;
  }
}

@-webkit-keyframes rainbow {
  100%,
  0% {
    color: red;
  }
  8% {
    color: #ff7f00;
  }
  16% {
    color: yellow;
  }
  25% {
    color: chartreuse;
  }
  33% {
    color: lime;
  }
  41% {
    color: springgreen;
  }
  50% {
    color: cyan;
  }
  58% {
    color: #007fff;
  }
  66% {
    color: blue;
  }
  75% {
    color: #7f00ff;
  }
  83% {
    color: magenta;
  }
  91% {
    color: #ff007f;
  }
}

@keyframes rainbow {
  100%,
  0% {
    color: red;
  }
  8% {
    color: #ff7f00;
  }
  16% {
    color: yellow;
  }
  25% {
    color: chartreuse;
  }
  33% {
    color: lime;
  }
  41% {
    color: springgreen;
  }
  50% {
    color: cyan;
  }
  58% {
    color: #007fff;
  }
  66% {
    color: blue;
  }
  75% {
    color: #7f00ff;
  }
  83% {
    color: magenta;
  }
  91% {
    color: #ff007f;
  }
}
/*# sourceMappingURL=style.css.map */